.contato-bg {
  background: #121212;
}
.contato-container {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.contato-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.625em;
  color: #ffffff;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 100px;
}
.contato-icones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.contato-icones a {
  display: inline-block;

  padding: 10px;
}
.contato-icones a:hover {
  transform: scale(1.4);
  transition: 0.3s;
}
.contato-icones svg {
  width: 50px;
  height: 80px;
}

#localizacao:hover,
#telefone:hover,
#linkedin:hover,
#email:hover,
#instagram:hover,
#github:hover {
  fill: #ffbb00;
}

@media (max-width: 739px) {
  .contato-container {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 250px;
  }
  .contato-container h2 {
    font-size: 2em;
    margin-bottom: 60px;
  }
  .contato-icones {
    gap: 0 30px;
  }
  .contato-icones a {
    padding: 0;
  }
  .contato-icones a:hover {
    transform: none;
  }
  .contato-icones svg {
    width: 40px;
  }
  .contato-icones a:hover,
  #localizacao:hover,
  #telefone:hover,
  #linkedin:hover,
  #email:hover,
  #instagram:hover,
  #github:hover {
    fill: #fff;
  }
}
