.intro-bg {
  background: #121212;
}
.intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 10px;
}

.intro-info h1 {
  font-family: "Poppings", sans-serif;
  font-size: 2.625em;
  color: #ffffff;
  max-width: 15ch;
  line-height: 1.4;
  margin-bottom: 15px;
  font-weight: 500;
}
.intro-info h1::after {
  content: " | ";
  margin-left: 1px;
  opacity: 1;
  animation: pisca 1s infinite;
}
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.intro-info p {
  font-family: "Poppings", sans-serif;
  color: #b3b3b3;
  font-size: 2em;
  line-height: 1.4;
  margin-bottom: 15px;
  position: relative;
}
.intro-info p::after {
  content: "";
  display: block;
  background: url("../../img/foguete.png") no-repeat center center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: -90px;
  right: -100px;
}
.animation {
  animation: cursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}

@keyframes cursor {
  from {
    border-right-color: #ffffff;
  }
  to {
    border-right-color: transparent;
  }
}
@media (max-width: 1100px) {
  .intro-container {
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .intro-info h1 {
    text-align: center;
  }
  .intro-img {
    display: none;
  }
}
@media (max-width: 739px) {
  .intro-info h1 {
    font-size: 2em;
  }

  .intro-info p {
    font-size: 1.5em;
  }
  .intro-info p::after {
    width: 100px;
    height: 100px;
    top: -70px;
    right: -60px;
  }
}
@media (max-width: 400px) {
  .intro-info p {
    display: none;
  }
}
