.sobre-bg {
  background: #f7f7f7;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}
.sobre-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 10px;
}
.sobre-bg h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.625em;
  color: #121212;
  line-height: 1.4;
  text-align: center;
}
.sobre-info {
  align-self: center;
}
.sobre-info p {
  font-family: "Roboto", sans-serif;
  color: #5a5a5a;
  font-size: 1.3em;
  line-height: 1.4;
  max-width: 50ch;
}
@media (max-width: 900px) {
  .sobre-container {
    grid-template-columns: auto auto;
    padding: 40px 10px;
  }
  .sobre-bg h2 {
    font-size: 2em;
  }
}
@media (max-width: 739px) {
  .sobre-container {
    grid-template-columns: auto;
  }
  .sobre-img {
    display: none;
  }
  .sobre-info {
    margin: 0 auto;
  }
  .sobre-info p {
    font-size: 1.2em;
    text-align: center;
  }
}
